body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.search-bar{
    width: 80%;
    background-color: ghostwhite;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}
.search input{
    background-color: ghostwhite;
    border: none;
}
.search a{
    display: flex;
    font-size: 20px;
    text-decoration: none;
    align-items: center;
}
.search{
    display: flex;
}
.menu a{
    background-color: ghostwhite;
}
.facilities{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;
}
.fact{
    border: 1px solid gray;
    border-radius: 5px;
}
.card-icon i{
    font-size: 40px;
    color: gray;
    margin-left: 5px;
    padding: 15px;
}
.card-det{
    margin-top: 20px;
    opacity: 5;
    margin-left: 10px;
}
.card-det h2{
    margin: 0;
    font-weight: 400;
    font-size: 1.30em;
}
.card-det p{
    color: gray;
}
/* navigation style  */
.nav-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: gray;
}
.nav-item a{
    color: gray;
}
.nav-item h5{
    font-weight: 100;

}
/* selling styles */
.sell-img img{
    height: 200px;
    width: 100%;
}
.car-name{
    display: flex;
    justify-content: space-between;
}
.car-list{
    background-color: beige;
    margin-bottom: 100px;
    padding: 15px;
}
.car-item{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 15px;
    overflow: hidden;
    background-color: white;
}
.car-name{
    margin: 10px;
}
.car-det{
    display: flex;
    align-items: center;
    margin: 10px;
}
.car-det p{
    margin-right: 20px;
}
.hrt{
    margin-left: 10px;
    margin-right: 10px;
}
.car-loc{
    margin:5px 10px;
    display: flex;
    justify-content: space-between;
    color: gray;
}
/* MEDIA QUERY */
@media only screen and (min-width: 512px) {
    .car-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        padding: 20px;
    }
    body{
        padding: 30px;
        background-color: beige;
    }
    .slider{
        margin-top: 20px ;
    }
  }